# Example .env file for LLM support
# J. A. Moreno

# Set your Anthropic API key
ANTHROPIC_API_KEY=YOUR_CLAUDE_API_KLEY

# Set your Twilio keys
TWILIO_ACCOUNT_SID=YOUR_TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=YOUR_TWILIO_ACCOUNT_TOKEN

# Set Langsmith API key for tracing with Langchain
LANGSMITH_API_KEY=YOUR_LANGSMITH_API_KEY
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=twilio-whatsapp-llm-demo
